<template>
    <el-row tag="section">
        <el-col :span="24" tag="header" class="">
            <!-- {{ userList[0] }} -->
            <h2>Рейтинг трофихантеров</h2>

        </el-col>

        <el-col :span="24" class="">
            <el-row class="wrap-desc" >
                <div class="three-chank">место</div>
                <div class="four-chank">игрок</div>
                <div class="three-chank title-percent">игр на 100%</div>
                <div class="three-chank">платина</div>
                <div class="three-chank">всего очков</div>
                <div class="title-main-game">лучшая игра</div>
                <div class="title-dlc-game">лучшее дополнение</div>
            </el-row>

            <el-row 
            tag="article" 
            class="wrap-top-user" 
            v-for="user in userList"
            :key="user._id"
            >   
                <div class="wrap-small-view">
                    <div class="small-view">место</div>
                    <div class="small-view">игрок</div>
                </div>
                <div  class="three-chank place-user">
                    <span class="number-place">{{ user.userPlaceRating }}</span>
                    <template v-if="user.userProgress != 0">
                        <span v-if="user.userProgress > 0" class="arrow-up">
                            <i class="el-icon-top"></i>      
                        </span>
                        <span v-else class="arrow-down">
                            <i class="el-icon-bottom"></i>      
                        </span>
                        <span :class="user.userProgress > 0 ? 'color-green' : 'color-red'" class="progress-place">{{ user.userProgress }}</span>
                    </template>
                </div>
                <div  class="four-chank wrap-user-icon">
                    <NuxtLink :to="`/user/${user._id}/games/1?p=all`">
                        <!-- <div > -->
                            <!-- <img src="https://psn-rsc.prod.dl.playstation.net/psn-rsc/avatar/EP0331/CUSA05078_00-AV00000000000008_4CF5CF247B7C2B015330_l.png" alt=""> -->
                            <img :src="user.userIcon" alt="">
                        <!-- </div> -->
                        <h4>{{ user.userLogin }}</h4>
                    </NuxtLink>
                </div>
                <div class="three-chank value-percent">
                    <span class="count-procent">{{ user.userCountFinish }}</span>
                </div>
                <div class="wrap-small-view">
                    <div class="small-view">платина</div>
                    <div class="small-view">очков</div>
                </div>
                <div class="three-chank">
                    <span class="count-platinum">{{ user.userCountPlatinum }}</span>
                </div>
                <div class="three-chank" >
                    <span class="all-points">{{ user.userCountPoints }}</span>
                </div>
                <div  class="wrap-main-game">
                    <div class="wrap-game-icon">
                        <!-- <img src="https://image.api.playstation.com/trophy/np/NPWR11009_00_00EDA00CD128E40AFD4C398665CF0C81F2FC4B73A9/1878AFA6EB418F8BD58302ED2BE7E684D1900C78.PNG" alt=""> -->
                        <img :src="user.bestGame.gameIcon" alt="">
                    </div>
                    <span>{{ parseInt(user.bestGame.gameRewardPoints)}}</span>
                </div>
                <div class="wrap-dlc-game">
                    <div class="wrap-dlc-icon">
                        <!-- <img src="https://image.api.playstation.com/trophy/np/NPWR11009_00_00EDA00CD128E40AFD4C398665CF0C81F2FC4B73A9/1878AFA6EB418F8BD58302ED2BE7E684D1900C78.PNG" alt=""> -->
                        <img :src="user.bestDLC.gameIcon" alt="">
                    </div>
                    <span>{{ parseInt(user.bestDLC.gameRewardPoints)}}</span>
                </div>
            </el-row>

        </el-col>
        <el-col :span="24" class="">
            <el-row type="flex" justify="center">
                <div>
                    <Pagination 
                    @change-page="goPage"
                    :activePage="activePage"
                    :totalItems="totalItems"
                    >
                    </Pagination>
                </div>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    // fetchOnServer: false,
    validate({params, redirect}){
        if(!params.page){
            redirect('/topusers/1');
        }
        return true;
    },
    async fetch(){
        try{
            console.log('fetch topusers ==> ', this.$route.params.page);
            // обновляем номер текущей страницы
            this.$store.commit('topusers/setActivePage', +this.$route.params.page);

            // обновляем кол-во элементов для пропуска
            this.$store.commit('topusers/setSkip',  this.$route.params.page * 20 - 20);

            // запрашиваем новое содержимое страницы
            await this.$store.dispatch("topusers/fetchTopUsers");
        }catch(err){
            console.log("fetch topUsers page ==> ", err);
        }
    },

    computed: {
        ...mapGetters({
            userList: 'topusers/getUserList',
            activePage: 'topusers/getActivePage',
            totalItems: "topusers/getTotalItems",
        }),
    },

    methods: {
        /** Обрабатывает событие пагинации. Вызывает переход на новую страницу 
         * @param {Number} - принимает номер страницы
        */
        goPage(pageValue){
            console.log('gopage', pageValue);
            this.$router.push({ path: `/topusers/${pageValue}` });
        }
    }
}
</script>

<style>
.four-chank {
    width: 20%;
    display: inline-block;
}
.three-chank {
    display: inline-block;
    width: 10%;
 /* max-width: 110px; */
}
.title-main-game,
.title-dlc-game,
.wrap-main-game,
.wrap-dlc-game {
    display: inline-block;
    width: 18%;
}
/** блок с описаниями значений */
.wrap-desc {
    padding: 15px 15px;
    background-color: #24272E;
    border-radius: 10px;
    margin-bottom: 15px;
}
body.light .wrap-desc {
    background-color: #F2EFFF;
}
.wrap-desc div,
.small-view {
    color: #5E6976;
    /* text-transform: uppercase; */
    font-weight: bold;
    font-size: 15px;
}

/** блок с юзерами */
.wrap-top-user {
    height: 90px;
    line-height: 70px;
    text-align: left;
    background-color: #242730;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 20px;
    transition: box-shadow .5s;

}
body.light .wrap-top-user {
    background-color: #ECF9FF;

}
.wrap-top-user:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(108,93,211,1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(108,93,211,1);
    box-shadow: 0px 0px 12px 0px rgba(108,93,211,1);
}
.wrap-top-user span {
    display: inline-block;
    vertical-align: middle;
}

/** место и прогресс */
.number-place {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.arrow-up,
.arrow-down {
    font-size: 20px;
}
.arrow-down,
.color-red {
    color: #FF6956;
}
.arrow-up,
.color-green {
    color: #6FB96E;
}
.progress-place {
    font-size: 15px;
    font-weight: bold;
}

/** имя игрока и картинка */
.wrap-user-icon img,
.wrap-user-icon h4{
    display: inline-block;
    vertical-align: middle;

}
.wrap-user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

/** блок с процентом пройденных игр */
/** блок с платиной */
.count-procent,
.count-platinum {
    padding: 3px 7px;
    border-radius: 3px ;
    line-height: 20px;
    height: 25px;
    color: #242730;
    font-weight: bold;
}
.count-procent {
    background-color: #34CA9A;
}
.count-platinum {
    background-color: #AAD1FF;
}

/** блок с общим количеством очков */
.all-points {
    font-weight: bold;
}

/** Блок с лучшей игрой и лучшим dlc */
.wrap-game-icon, 
.wrap-dlc-icon {
    display: inline-block;
    width: 100px;
    height: 55px;
    vertical-align: middle;
    margin-right: 10px;
    
}
.wrap-game-icon img, 
.wrap-dlc-icon img {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.wrap-game-icon + span, 
.wrap-dlc-icon + span{
    font-weight: bold;
}
/** блоки для маленьких экранов */
.wrap-small-view {
    border-radius: 10px;
    background-color: #2d3442;
    line-height: 17px;
    display: none;
}
body.light .wrap-small-view {
    background-color: #afb4bd;

}
.small-view {
    display: inline-block;
    width: 49%;
    color: #909399;
    padding: 15px;
    
}
body.light .small-view {
    color: #1E2128;

}
@media screen and (max-width: 1100px) {
    /* .title-dlc-game, */
    .wrap-main-game > div + span,
    .wrap-dlc-game > div + span{
        display: none;
    }
    .title-main-game,
    .title-dlc-game,
    .wrap-main-game,
    .wrap-dlc-game {
        width: 13%;
    }
    .three-chank  {
        width: 12%;
    }
    .four-chank  {
        width: 21%;
    }
}
@media screen and (max-width: 950px) {
    .title-dlc-game,
    .wrap-dlc-game {
        display: none;
    }
    .title-main-game,
    .wrap-main-game {
        width: 17%;
    }
    .three-chank  {
        width: 14%;
    }
    .four-chank  {
        width: 22%;
    }
}
@media screen and (max-width: 810px) {
    .title-main-game,
    .wrap-main-game {
        display: none;
    }
    .three-chank  {
        width: 16%;
    }
    .four-chank  {
        width: 29%;
    }
}
@media screen and (max-width: 700px) {
    .title-percent,
    .value-percent {
        display: none;
    }
    .three-chank  {
        width: 20%;
    }
    .four-chank  {
        width: 35%;
    }
}
@media screen and (max-width: 600px) {
    .wrap-desc {
        display: none;
    }
    .wrap-small-view{
        display: block;
    }
    .wrap-top-user{
        height: auto;
        line-height: normal;
    }
    .three-chank,
    .four-chank  {
        width: 49%;
        padding: 15px;
    }
}
@media screen and (max-width: 420px) {

    .wrap-top-user{
        padding: 5px;
    }
    .three-chank,
    .four-chank  {
        width: 49%;
        padding: 15px;
    }
}
</style>