<template>
    <div class="assessment assess-border-right">
        <div>
            <span class="color-item yellow"></span>
            <span class="title-assess">
                {{ title }}
            </span>
            <el-tooltip class="item" effect="dark" :content="hoverText" placement="top">
                <el-button class="my-info-button">i</el-button>
            </el-tooltip>
        </div>
        <div>
            <p class="assess-value">{{ value }}</p><!--
            --><p class="user-assess">{{ assess }}</p>
            <div class="assess-progress">
                <div></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        /** Заголовок */
        title: {
            type: String,
            required: true,
        },
        /** Текст всплывашки при наведении */
        hoverText: {
            type: String,
            required: true,
        },
        /** Основное значение */
        value: {
            type: Number,
            required: true,
        },
        /** Оценка пользователя */
        assess: {
            type: String,
            default: '',
        }
    },
}
</script>

<style>
    .assessment {
        padding: 13px;
        width: 25%;
        display: inline-block;
    }

    .color-item {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .assess-value,
    .user-assess {
        display: inline-block;
        width: 50%;
        padding-top: 10px;
    }
    .user-assess {
        text-align: right;
    }
    .assess-value {
        font-size: 27px;
        font-weight: 700;
    }
    .user-assess {
        font-size: 22px;
        font-weight: 700; 
    }
    .assess-progress {
        height: 3px;
        width: 100%;
        /* background-color: #383C47; */
        background-color: #4a4d53;
        margin-top: 10px;
    }
    .assess-progress>div {
        height: 3px;
        /* background-color: #F0CA5F; */
        width: 25%;
    }
/** Цвета по типам карточки */
    .impression .color-item,
    .impression .assess-progress>div {
        background-color: #F0CA5F;
    }
    .impression .user-assess {
        color: #F0CA5F;
    }
    .difficulty .color-item,
    .difficulty .assess-progress>div {
        background-color: #FF764C;
    }
    .difficulty .user-assess {
        color: #FF764C;
    }
    .time .color-item,
    .time .assess-progress>div {
        background-color: #33CB98;
    }
    .impretimession .user-assess {
        color: #33CB98;
    }
    .points .color-item,
    .points .assess-progress>div {
        background-color: #b6bcbf;
    }
    .points .user-assess {
        color: #fff;
    }
</style>