<template>
    
    <div  class="wrap-hint-user mb-15">
        <el-row type="flex" justify="flex-start">
            <div class="icon-user-hint">
                <img src="http://psn-rsc.prod.dl.playstation.net/psn-rsc/avatar/EP9000/CUSA13323_00-AV00000000000001_62CCBEC7437D02076B02_m.png" alt="">
            </div>
            <div class="wrap-text-hint">
                <div class="wrap-login-data">
                    <span class="login-user-hint">Kinnswaget</span>
                    <span class="data-hint-pub">13.26.65</span>
                </div>
                <h4>Заголовок подсказки</h4>
                <div 
                class="text-hint" 
                :style="heightVal"
                >                 
                    <p ref="heighttext">Вводный текст подсказки, он и ни длинный и ни короткий
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem aperiam dolores, vitae maxime dolor reiciendis quod quaerat, sit expedita voluptate tempore at facilis eaque! Quod sint tempora molestias ipsam rem quidem veritatis omnis labore odit, minus vero repellendus. Quo dolor expedita repellendus tempore nostrum corrupti autem facilis, sit reiciendis. Aut quasi molestias totam, cum, commodi perferendis ducimus aperiam hic animi ab quod expedita eius fugit sint recusandae quas rerum ipsa debitis sit earum, laudantium iusto ullam labore amet. Reprehenderit minima enim eveniet provident laboriosam odio temporibus eligendi eum corrupti nisi repellat repudiandae rerum consequatur quaerat officiis tempore, quae quasi quas voluptas possimus. Obcaecati similique consectetur laborum eos iusto molestiae nihil, atque provident eum beatae quasi ipsam velit odio illo itaque tempore placeat sit dolorem et, ut at quidem possimus quo molestias. Sint quibusdam eaque laboriosam corrupti magni. Nesciunt quaerat laboriosam quidem repellendus perferendis ducimus pariatur. Hic, dolores quisquam? Minus, aspernatur nesciunt voluptates voluptatum, accusamus quibusdam aperiam velit molestiae iste, mollitia quasi doloribus a fugit ullam magnam voluptate. Vero blanditiis eligendi repellendus vel ea facere deserunt maxime fugiat, quia, nulla commodi enim. Dolor alias maxime repudiandae debitis corporis facere blanditiis unde! Alias dolorum consequatur voluptate quis recusandae doloremque distinctio ab, cupiditate hic quos quibusdam dignissimos aliquam labore, nesciunt explicabo laborum eligendi repellendus fugiat, quaerat dolorem quidem quisquam. Voluptas quasi nihil doloremque amet maiores similique cupiditate quisquam aliquam pariatur consequatur? Reprehenderit libero odit quasi quas itaque fugiat quae ea in perspiciatis perferendis consectetur, atque expedita repellendus accusamus voluptatibus nobis et sed nam ut harum provident dolores incidunt labore! Modi quia possimus atque error ratione! Id amet earum hic fugiat eius at nulla excepturi, adipisci atque suscipit asperiores deserunt debitis dolor alias obcaecati dolores laborum, libero culpa nam? Necessitatibus, sit quas saepe ab aut eos nam, eveniet autem dignissimos rem, harum labore neque.
                    </p>
                </div>
                <div class="wrap-add">
                    <div class="wrap-hint-likes">
                        <span class="icon-hint-like">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M24,11.034a2.5,2.5,0,0,0-2.5-2.5H15.189a.25.25,0,0,1-.237-.328,8.684,8.684,0,0,0,.52-4.407c-.588-2.095-1.834-2.7-2.809-2.565A2,2,0,0,0,11,3.284C11,6.03,8.871,9.03,6.966,10.345a.5.5,0,0,0-.216.412V20.873a.5.5,0,0,0,.405.491c.357.069.681.135.987.2a17.309,17.309,0,0,0,4.108.471h6.5c1.957,0,2.25-1.1,2.25-1.75a2.24,2.24,0,0,0-.232-.994,2.248,2.248,0,0,0,1-3A2.252,2.252,0,0,0,23,14.284a2.226,2.226,0,0,0-.273-1.072A2.5,2.5,0,0,0,24,11.034Z"/><path d="M5.25,10.784a1,1,0,0,0-1-1H1a1,1,0,0,0-1,1v11a1,1,0,0,0,1,1H4.25a1,1,0,0,0,1-1Zm-1.5,9.25a.75.75,0,1,1-.75-.75A.75.75,0,0,1,3.75,20.034Z"/></svg>
                        </span>
                        <span class="count-hint-likes">124</span>
                    </div>
                </div>
            </div>
        </el-row>
        <el-row type="flex" justify="center">
            <div 
            class="button-visible-all"
            @click="clickButtonVisible"
            >
                <div class="text-button-visible" v-show="visibleAllText">Скрыть</div>
                <div class="text-button-visible" v-show="!visibleAllText">Раскрыть</div>
                <span
                :style="defaultDeg"
                >
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="Layer 2" id="Layer_2"><path class="cls-1" d="M16.47,15.12,26.34,25a1,1,0,0,1-1.41,1.41l-9.06-9.06-8.8,8.8a1,1,0,0,1-1.41,0h0a1,1,0,0,1,0-1.42l9.61-9.61A.85.85,0,0,1,16.47,15.12Z"/><path class="cls-1" d="M16.47,5.54l9.87,9.88a1,1,0,0,1-1.41,1.41L15.87,7.77l-8.8,8.8a1,1,0,0,1-1.41,0h0a1,1,0,0,1,0-1.41l9.61-9.62A.85.85,0,0,1,16.47,5.54Z"/></g></svg>
                </span>
            </div>
        </el-row>
    </div>
</template>

<script>
export default {
    data(){return{
        visibleAllText: false,
    }},

    methods: {
        /** Обработчик нажатия на кнопку показать/скрыть  */
        clickButtonVisible(){
            this.visibleAllText = !this.visibleAllText;
        }
    },

    computed: {
        /** Возвращает класс для авто определения высоты блока */
        heightVal(){
            return this.visibleAllText ? `height: ${this.$refs.heighttext.offsetHeight}px;` : '';
        },

        /** Возвращает нулевое значение для rotate */
        defaultDeg(){
            return this.visibleAllText ? 'transform: rotate(0deg);' : '';
        },
    }
}
</script>

<style>
.wrap-hint-user {
    background-color: #262930;
    border-radius: 15px;
    padding: 15px 10px 5px 10px;
}
body.light .wrap-hint-user {
    background-color: #ECF9FF;

}
.icon-user-hint {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-bottom: 5px;
}
.icon-user-hint img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.wrap-text-hint {
    padding: 0 15px;
}


.wrap-login-data,
.wrap-text-hint h4 {
    margin-bottom: 15px;
}
.wrap-text-hint h4 {
    font-weight: bold;
    font-size: 18px;
}
.login-user-hint,
.data-hint-pub,
.button-visible-all .text-button-visible {
    font-size: 13px;
    /* font-weight: bold; */
}
.data-hint-pub,
.wrap-text-hint p,
.button-visible-all :first-child {
    color: #787b81;
}
.text-hint {
    overflow: hidden;
    height: 45px;
    transition: height .4s;
}
.wrap-add {
    padding: 10px 0 0 0;
}
.icon-hint-like {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.count-hint-likes,
.icon-hint-like {
    vertical-align: middle;
}
.icon-hint-like svg path,
.button-visible-all :last-child {
    fill: #494b52;
}
.icon-hint-like:hover svg path {
    fill: #409EFF;
}
.button-visible-all {
    display: inline-block;
    padding: 3px;
    text-align: center;
    cursor:pointer;
}

.button-visible-all .text-button-visible{
    opacity: 0;
    color: #409EFF;
}
.button-visible-all .text-button-visible{
    transition: opacity .2s;
}
.button-visible-all:hover .text-button-visible{
    opacity: 1;
}
.button-visible-all:hover span:last-child svg path {
    fill: #409EFF;
}
.button-visible-all span:last-child svg path {
    transition: fill .2s;
}
.button-visible-all span:last-child {
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
}
@media screen and (max-width: 380px) {
    .wrap-hint-user > div:first-child {
        flex-wrap: wrap;
        justify-content: center;
    }
    .wrap-login-data {
        text-align: center;
    }
    .wrap-text-hint {
        padding: 0;
    }
}
</style>